#chat-icon {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #0b5cff;
  color: white;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  font-size: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 9999;
}

#chat-box {
  position: fixed;
  bottom: 90px;
  right: 20px;
  width: 300px;
  height: 400px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  display: none;
  flex-direction: column;
  z-index: 9999;
}

#chat-header {
  background: #1C4D8D;
  color: white;
  padding: 10px;
  text-align: center;
}

#messages {
  background: #4988C4;
  flex: 1;
  padding: 10px;
  overflow-y: auto;
  font-size: 14px;
}

#input-box {
  display: flex;
  border-top: 1px solid #ddd;
}

#input-box input {
  flex: 1;
  padding: 8px;
  border: none;
  outline: none;
}

#input-box button {
  padding: 8px;
  background: #1C4D8D;
  color: white;
  border: none;
  cursor: pointer;
}
