body {
    margin-top: 125px;
    margin-left: 400px;
    font-family: Arial;
    background-color: #706969;
}

#messages {
  width: 500px;
  height: 300px;
  border: 1px solid #ccc;
  padding: 10px;
  overflow-y: auto;
  margin-bottom: 1px;
}

button{
    background: #1C4D8D
}
